{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href='{% static "css/shop-homepage.css" %}' rel="stylesheet">


</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'base' %}">Всё в дом</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <span class="sr-only">(current)</span>
                    </a>
                </li>
                {% if not request.get_full_path == '/' %}
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Категории
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            {% for category in categories %}
                                <li><a class="dropdown-item"
                                       href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-righr">
                <li><a href='{% url 'cart' %}'>Корзина<span class='badge' id="cart_count">{{ cart.items.count }}</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block content %}

    <h3 class="text-left">Личный кабинет</h3>
    <hr>
    <h4 class='text-center'>Здравствуйте, {{ request.user }}</h4>
    <table class='table'>
        <tr style='background:lightblue;'>
            <td class='text-center'>Номер заказа</td>
            <td class='text-center'>Статус заказа</td>
            <td class='text-center'>Стоимость заказа</td>
            <td class='text-center'>Детали заказа</td>
            <td></td>
        </tr>
        {% for item in order %}
            <tr>
                <td class='text-center' style='padding-top: 20px; padding-bottom: 20px;'>{{ item.id }}</td>
                <td class='text-center' style='padding-top: 20px; padding-bottom: 20px;'>{{ item.status }}</td>
                <td class='text-center' style='padding-top: 20px; padding-bottom: 20px;'>{{ item.total }} руб.</td>
                <td class='text-center' style='padding-top: 20px; padding-bottom: 20px;'>
                    <button type="button" class="btn btn-primary btn-md" data-toggle="modal"
                            data-target="#myModal-{{ item.id }}">
                        Детали заказа
                    </button>
                </td>
            </tr>
        {% endfor %}
    </table>
    <!-- Button trigger modal -->

    <!-- Modal -->
    {% for item in order %}
        <div class="modal fade" id="myModal-{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Заказ № {{ item.id }}
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <h3>Товар</h3>
                        <table class='table'>
                            {% for order_item in item.items.items.all %}
                                <tr>
                                    <td>{{ order_item.product.title }}</td>
                                    <td>{{ order_item.qty }} шт.</td>
                                    <td>{{ order_item.item_total }} руб.</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td></td>
                                <td>Итого</td>
                                <td><strong>{{ item.items.cart_total }} руб.</strong></td>
                            </tr>
                        </table>
                        <h3>Заказчик</h3>
                        <p>Имя: {{ item.first_name }}</p>
                        <p>Фамилия: {{ item.last_name }}</p>
                        <p>Телефон: {{ item.phone }}</p>
                        <h3>Тип доставки</h3>
                        <p>{% if item.buying_type == 'self' %} Самовывоз {% else %}Доставка{% endif %}</p>
                        <p>{% if item.buying_type == 'delivery' %} {{ item.address }}{% endif %}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src='{% static "js/jquery.js" %}'></script>
<script src='{% static "js/bootstrap.js" %}'></script>

</body>

</html>