{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href='{% static "css/shop-homepage.css" %}' rel="stylesheet">


</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Всё в дом</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <span class="sr-only">(current)</span>
                </li>
                {% if not request.get_full_path == '/' %}
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="{{ category.get_absolute_url }}"
                           role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            Категории
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            {% for category in categories %}
                                <li><a class="dropdown-item"
                                       href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% if not request.user.is_authenticated %}
                    <li>
                        <p class='navbar-text'><a href='{% url "login" %}'>Войти</a></p>
                    </li>
                    <li>
                        <p class='navbar-text'><a href='{% url "registration" %}'>Регистрация</a></p>
                    </li>
                {% else %}
                    <li>
                        <p class='navbar-text'><a href='{% url "account" %}'>Личный кабинет</a></p>
                    </li>
                    <li>
                        <p class='navbar-text'><a href='{% url "logout" %}'>Выйти</a></p>
                    </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><p class='navbar-text'><a href='{% url "cart" %}'>Корзина<span class='badge'
                                                                                   id='cart_count'>{% if not request.session.total %}
                    0 {% else %} {{ request.session.total }} {% endif %}</span></a></p></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-3">
            <div class="list-group">
                {% for category in categories %}
                    <a href="{{ category.get_absolute_url }}" class="list-group-item">{{ category.name }}</a>
                {% endfor %}
            </div>
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">
            {% if request.get_full_path == '/' %}
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://static.mvideo.ru/media/Promotions/Promo_Page/2018/May/samsung-tv-qled/new/main1-940x446.png"
                                 class="d-block w-100" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://static.mvideo.ru/media/Promotions/Promo_Page/2018/December/rassrochka-0-pereplaty/main1-940x446.png"
                                 class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="u-mb-12 u-mt-24">
                <div class="gallery-title-wrapper">
                    <div class="h2 u-mb-0 u-ml-xs-20 u-font-normal">
                        Хиты продаж
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100" style="height: 420px; position: relative;">
                        <a href="http://127.0.0.1:8000/product/apple-iphone-xs-512-gb-silver/"><img class="card-img-top"
                                                                                                    src="http://127.0.0.1:8000/media/apple-iphone-xs-512-gb-silver/apple-iphone-xs-512-gb-silver.jpg"
                                                                                                    alt=""
                                                                                                    style='width:100%;height:200px;'></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="http://127.0.0.1:8000/product/apple-iphone-xs-512-gb-silver/">Apple Iphone XS
                                    Max 512 Gb Silver</a>
                            </h4>
                            <h5>122190,00 руб.</h5>
                            <div style="position: absolute; bottom: 0; right:40px;">
                            </div>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100" style="height: 420px; position: relative;">
                        <a href="http://127.0.0.1:8000/product/acer-swift-3/"><img class="card-img-top"
                                                                                   src="http://127.0.0.1:8000/media/acer-swift-3/acer-swift-3.jpg"
                                                                                   alt=""
                                                                                   style='width:100%;height:150px;'></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="http://127.0.0.1:8000/product/acer-swift-3/">Acer Swift 3</a>
                            </h4>
                            <h5>75000 руб.</h5>
                            <div style="position: absolute; bottom: 0; right:40px;">
                            </div>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100" style="height: 420px; position: relative;">
                        <a href="http://127.0.0.1:8000/product/xiaomi-mi-a2-64gb/"><img class="card-img-top"
                                                                                        src="http://127.0.0.1:8000/media/xiaomi-mi-a2-64gb/xiaomi-mi-a2-64gb.jpg"
                                                                                        alt=""
                                                                                        style='width:100%;height:200px;'></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="http://127.0.0.1:8000/product/xiaomi-mi-a2-64gb/">Смартфон Xiaomi Mi A2 64Gb
                                    Black</a>
                            </h4>
                            <h5>19990,00 руб.</h5>
                            <div style="position: absolute; bottom: 0; right:40px;">
                            </div>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>
                <div class="u-mb-12 u-mt-24">
                    <div class="gallery-title-wrapper">
                        <div class="h2 u-mb-0 u-ml-xs-20 u-font-normal">
                            Новинки
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100" style="height: 420px; position: relative;">
                                <a href="http://127.0.0.1:8000/product/yandex-telefony/"><img class="card-img-top"
                                                                                              src="http://127.0.0.1:8000/media/yandex-telefony/yandex-telefony.jpg"
                                                                                              alt=""
                                                                                              style='width:100%;height:200px;'></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="http://127.0.0.1:8000/product/yandex-telefony/">Яндекс Телефон</a>
                                    </h4>
                                    <h5>17990,00 руб.</h5>
                                    <div style="position: absolute; bottom: 0; right:40px;">
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100" style="height: 420px; position: relative;">
                                <a href="http://127.0.0.1:8000/product/televizor-lg-49uk7550/"><img class="card-img-top"
                                                                                                    src="http://127.0.0.1:8000/media/televizor-lg-49uk7550/televizor-lg-49uk7550.jpg"
                                                                                                    alt=""
                                                                                                    style='width:100%;height:200px;'></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="http://127.0.0.1:8000/product/televizor-lg-49uk7550/">Телевизор LG
                                            49UK7550</a>
                                    </h4>
                                    <h5>52990,00 руб.</h5>
                                    <div style="position: absolute; bottom: 0; right:40px;">
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100" style="height: 420px; position: relative;">
                                <a href="http://127.0.0.1:8000/product/photoapparat-premium-nikon/"><img
                                        class="card-img-top"
                                        src="http://127.0.0.1:8000/media/photoapparat-premium-nikon/photoapparat-premium-nikon.jpg"
                                        alt="" style='width:100%;height:200px;'></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="http://127.0.0.1:8000/product/photoapparat-premium-nikon/">Фотоаппарат
                                            системный премиум Nikon Z 6 + 24-70mm f4 + FTZ Adapter Kit</a>
                                    </h4>
                                    <h5>214990,00 руб.</h5>
                                    <div style="position: absolute; bottom: 0; right:40px;">
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.col-lg-9 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</body>

</html>
