{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href='{% static "css/shop-homepage.css" %}' rel="stylesheet">


</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'base' %}">Всё в дом</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <span class="sr-only">(current)</span>
                    </a>
                </li>
                {% if not request.get_full_path == '/' %}
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Категории
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            {% for category in categories %}
                                <li><a class="dropdown-item"
                                       href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-righr">
                <li><a href='{% url 'cart' %}'>Корзина<span class='badge' id="cart_count">{{ cart.items.count }}</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block content %}
    <h3 class='text-center'>Ваша корзина</h3>
<br>
{% if cart.items.count > 0 %}
<div class='my-cart'>
<table class='table'>
<tr>
	<td class='text-center'><strong>Товар</strong></td>
	<td class='text-center'><strong>Кол-во</strong></td>
	<td class='text-center'><strong>Цена</strong></td>
	<td class='text-center'></td>
</tr>
{% for item in cart.items.all %}
<tr class='cart-item-{{ item.product.id }}'>
	<td class='text-center'>{{ item.product.title }}</td>
	<td class="text-center">
		<form action='' method='GET'>
			<input type='number' name='qty' class='cart-item-qty' data-id='{{ item.id }}' value='{{ item.qty }}' min='1' style='width: 50px;'>
		</form>
	</td>
	<td class='text-center' id='cart-item-total-{{ item.id }}'>{{ item.item_total }} руб.</td>
	<td class='text-center'><a href='#' class='remove_from_cart' data-slug='{{ item.product.slug }}' data-id='{{ item.product.id }}'><button class='btn btn-default'>Удалить из корзины</button></a></td>
</tr>
{% endfor %}
<tr>
	<td></td>
	<td class='text-center'> <strong>Итого: </strong></td>
	<td class='text-center' id='cart-total-price'><strong>{{ cart.cart_total }} руб.</strong></td>
	<td class='text-center'></td>
</tr>
</table>
<br>
<a href='{% url "checkout" %}' class='pull-right'><button class='btn btn-info'>Предварительный заказ</button></a>
</div>
<h3 class='cart-empty'></h3>
{% else %}
<h3 class='text-center'>Ваша корзина пуста</h3>
{% endif %}
<script src="{% static 'js/jquery.js' %}"></script>
<script>
$(document).ready(function(){
	$('.cart-empty').css('display', 'none')
	$('.remove_from_cart').on('click', function(e){
		e.preventDefault()
		product_slug = $(this).attr('data-slug')
		item_product_id = $(this).attr('data-id')
		data = {
			product_slug: product_slug
		}
		$.ajax({
			type: "GET",
			url: '{% url "remove_from_cart" %}',
			data: data,
			success: function(data){
				$("#cart_count").html(data.cart_total)
				$('.cart-item-'+item_product_id).css('display', 'none')
				$('#cart-total-price').html('<strong>' + parseFloat(data.cart_total_price).toFixed(2) + ' руб. </strong>')
				if(parseInt(data.cart_total) == 0){
					$('.my-cart').css('display', 'none')
					$('.cart-empty').css('display', 'block')
					$('.cart-empty').html('<h3 class="text-center">Ваша корзина пуста</h3>')
				}
			}
		})
	})
})
$(document).ready(function(){
	$('.cart-item-qty').on('click', function(){
		qty = $(this).val()
		item_id = $(this).attr('data-id')
		data = {
			qty: qty,
			item_id: item_id
		}
		$.ajax({
			type: "GET",
			url: '{% url "change_item_qty" %}',
			data: data,
			success: function(data){
				$('#cart-item-total-'+item_id).html(parseFloat(data.item_total).toFixed(2) + ' руб.')
				$('#cart-total-price').html('<strong>' + parseFloat(data.cart_total_price).toFixed(2) + ' руб. </strong>')
			}
		})
	})
})
</script>
{% endblock %}

<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src='{% static "js/bootstrap.js" %}'></script>
<script src='{% static "js/jquery.js" %}'></script>

</body>

</html>